In [18]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://yrobins95:sonu12345@cluster0.zspnt1u.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [19]:
# create database "youtubecommunity"
database = client["youtubecommunity"]

In [20]:
# create collection "session"
collection = database["session"]

In [21]:
data  = {
    "coursename":"genai",
    "instructorname":"sunny",
    "modeofsession":"english",
    
}

In [22]:
data

{'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english'}

In [23]:
collection.insert_one(data)

InsertOneResult(ObjectId('65bf2fda1f8577096cc0c03b'), acknowledged=True)

In [24]:
all_record=collection.find()

In [25]:
for record in all_record:
    print(record)

{'_id': ObjectId('65bf2a241f8577096cc0c035'), 'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('65bf2d661f8577096cc0c036'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('65bf2d661f8577096cc0c037'), 'coursename': 'mlops', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}
{'_id': ObjectId('65bf2fda1f8577096cc0c03b'), 'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english'}

In [26]:
collection.insert_many(
    [
        {

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
},

{

    "coursename":"mlops",
    "instrutorname":"sunnysavita",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('65bf2fdb1f8577096cc0c03c'), ObjectId('65bf2fdb1f8577096cc0c03d')], acknowledged=True)

In [27]:
class mongodb_operation:

    def __init__(self, client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self, collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self, record:dict, collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self, datafile:str, collection_name:str=None):
        self.path = datafile

        if self.path.endswith('.csv'):
            data = pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data = pd.read_excel(self.path,encoding='utf-8')
            
        datajson = json.loads(data.to_json(orient='record'))
        collection = self.create_collection()
        collection.insert_many(datajson)

In [31]:
# call the mongodb connection 
client_url = "mongodb+srv://yrobins95:sonu12345@cluster0.zspnt1u.mongodb.net/?retryWrites=true&w=majority"
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [32]:
mongo = mongodb_operation(client_url,database,collection_name)

In [33]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"}, collection_name)

In [34]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
], collection_name)